@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sono&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Sono', sans-serif;;
    background-image: url(https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwyMjI4OTkyfHxlbnwwfHx8fA%3D%3D&w=1000&q=80)
}

main{
    padding: 16px
}

footer{
    padding: 24px 0px;
    position: fixed;
    left: 0;
    right: 0;
    font-size: 20px;
}

img{
    width: 200px
}

nav{
    border-color: black;
    border-bottom: 1px solid black;
    padding: 16px

}

.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-page-title {
    background-color: rgb(196, 196, 241);
    color: black;
    text-align: center;


}

a:link, a:visited {
    text-decoration: None;
    transition: width 2s height 2s;
}

a:hover {
    color: purple;
}

.footer-page {
    padding: 24px;
    background-color: rgb(196, 196, 241);
    bottom: 0;
    text-align: center;
}

.main-page {
    color: black
}

.veggie-title {
    color: rgb(22, 1, 86);
}

.title-shadow {
    text-shadow: 1px 1px 2px rgb(12, 1, 3);
    text-align: center;
}

.box-shadow {
    box-shadow: 0 2px 4px 2px gray;
    transition: margin-right 2s;
    transform: rotate3d(-60deg)
}

.writing-shadow {
    text-shadow: 1px 1px 2px rgb(1, 18, 14);
    text-align: center;
}

.table tbody tr:nth-child(even){
    background-color: rgb(215, 208, 208)
}
